.perfumesTitle {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
}

.perfumes {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 100px;
}

.perfume {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfume img {
    width: 300px;
}

.perfume .description {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1px;
}

.perfume:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartBttn {
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}

.perfume-box {
    border: 1px solid white;
    padding: 16px;
    margin: 16px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 450px;
    height: 550px;
}

.perfume-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}