@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

body {
  padding: 100;
  margin: 0;
}